<div class="row">
 <div class="col-sm-12">
 <div class="d-flex flex-column flex-center flex-column-fluid">
 <!--begin::Content-->
 <div class="d-flex flex-column flex-center text-center ">
     <!--begin::Wrapper-->
     <div class="card card-flush w-lg-650px py-5">
         <div class="card-body py-1 py-lg-20" style="margin-top: -88px">

             <!--begin::Title-->
             <h2 class="fw-bolder fs-2qx text-red-900 " style="color:orangered">
                 Vous n'avez pas les droits neccessaires pour lire cette page
             </h2>
             <!--end::Title-->
             <!--begin::Illustration-->
             <div class="mb-1">
                 <img src="{{ asset('assets/media/oups.jpg') }}" class="mw-100 mh-200px theme-light-show" alt=""/>
                 <img src="{{ asset('assets/media/oups.jpg') }}" class="mw-100 mh-200px theme-dark-show" alt=""/>
             </div>


         </div>
     </div>
     <!--end::Wrapper-->
 </div>
 <!--end::Content-->
</div>
</div>
</div>